@*@page

<div id="employee-page"></div>

<script src="~/js/bundle.js"></script>
<script>
    // このページでのみReactコンポーネントをマウント
    ReactDOM.render(<EmployeePageComponent />, document.getElementById('employee-page'));
</script>*@
