@page

<div id="stock-page"></div>

<script src="~/js/bundle.js"></script>
<script>
    // このページでのみReactコンポーネントをマウント
    ReactDOM.render(<StockPageComponent />, document.getElementById('stock-page'));
</script>
